<div class="row full-page-form">
  <div class="col-sm-12 col-md-8 offset-md-2">

    <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name %>
      <%= f.input :category %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.simple_fields_for :doses do |d| %>
        <%= d.association :ingredient %>
        <%= d.input :description %>
      <% end %>
      <%= f.input :how_to_mix %>
      <% if @cocktail.name %>
        <%= f.submit "Edit Cocktail", class: "btn btn-primary" %>
      <% else %>
        <%= f.submit "Add Cocktail", class: "btn btn-primary" %>
      <% end %>
    <% end %>

  </div>
</div>
